# sudo cp 4isafecross.service /etc/systemd/system/
# systemctl daemon-reload
# sudo systemctl enable 4isafecross.service
# sudo systemctl start 4isafecross.service

[Unit]
Description=4isafecross service
After=network.target systemd-udev-settle.service

[Service]
WorkingDirectory=/home/user-4itec/github/4iSafeCross/scripts
ExecStart=/home/user-4itec/github/4iSafeCross/scripts/4isafecross.sh
Restart=always
RestartSec=3
StandardOutput=append:/home/user-4itec/github/4iSafeCross/logs/service_stdout.log
StandardError=append:/home/user-4itec/github/4iSafeCross/logs/service_stderr.log
User=user-4itec
Group=user-4itec

[Install]
WantedBy=multi-user.target
